.pink {
    background-color: pink;
}

.pinks {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: blueviolet;
}

.green {
    background-color: greenyellow;
}

.lightblue {
    background-color: lightskyblue;
}

.yellow {
    background-color: yellow;
}

.darkpink {
    background-color: rgb(221, 79, 179);
}

.lightgreen {
    background-color: aquamarine;
}

.lightyellow {
    background-color: rgb(223, 223, 68);
}

.aqua {
    background-color: aqua;
}

.darkgreen {
    background-color: rgb(21, 179, 21);
}